@import 'vars';
.header{
  background-color: var(--primary-theme-color);
}
.header__banner-container{
    text-align: center;
    max-height: 4.3rem;
    padding: 0.5rem 2rem;
    background-color: var(--yellow);
    color: var(--black);
}
.header__banner{
    margin: 0;
    height: 100%;
    font-size: 21px;
    font-weight: 700;
    line-height: 30px;  
}

.header-nav {
    display: flex;
    justify-content: space-between;
    padding: 0 1.5rem;
    border-bottom: 1px solid var(--very-light-pink);
  }
  .header-nav__menu {
    display: none;
  }
  .nav-left__logo-container{
    margin: 0;
    max-height: 50px;
  }
  .nav-left__logo {
    width: 100px;
  }
  .navbar-left__menu-container,
  .navbar-right__menu-container{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    height: 60px;
  }
  .navbar-left__menu-container{
    gap: 0.5rem;
  }
  .navbar-left {
    display: flex;
  }
  .navbar-left__menu-container {
    margin-left: 12px;
  }
  .navbar-left__menu-item-link{
    text-decoration: none;
    color: var(--white);
    border-radius: 8px;
  }
  .navbar-left__menu-item-link:hover,
  .navbar-right ul li :hover {
    color: var(--yellow);
  }
  .navbar-right__email {
    color: var(--very-light-pink);
    font-size: var(--sm);
    margin-right: 12px;
  }
  .navbar-right__shopping-cart {
    position: relative;
  }
  .navbar-right__shopping-cart div {
    width: 16px;
    height: 16px;
    background-color: var(--yellow);
    border-radius: 50%;
    font-size: var(--sm);
    font-weight: bold;
    position: absolute;
    top: -6px;
    right: -3px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  @media (max-width: 640px) {
    .header-nav__menu {
      display: block;
    }
    .navbar-left__menu-container {
      display: none;
    }
    .navbar-right__email {
      display: none;
    }
  }